:root {
  --primary: #00ff41;
  --secondary: #00882A;
  --bg: #000000;
}

/* Layout */
body, main {
  background-color: black;
  background-image: url("../assets/images/b.jpg");
  margin: 20px auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.terminal-row {
  background-color: var(--bg);
  display: flex;
}

/* Navigation Bar */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg);

  justify-content: center;
  display: flex;
  height: 2vw;
  gap: 2.5rem;
  padding: 1rem;
  border:1px solid var(--secondary);
  transition: color 1s ease, border-color 1s ease;
}

.nav-bar a {
  padding: 7px;
  font-family: "JetBrains Mono", monospace;
  color: var(--secondary);
  text-decoration: none;
}

.nav-bar a.active {
  color: black;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.nav-bar a:not(.active):hover {
  color: var(--primary);
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  text-decoration: none;
  color: var(--primary);
}

/* Terminal System / Layout */
.terminal-box {
  margin-top: 4vw;
  border: 1px solid var(--primary);
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
}

.terminal-header {
  height: 2vw;
  padding: 3px 5px;
  color: var(--primary);
  
  font-family: "JetBrains Mono", monospace;
  font-size: clamp(0.6rem, 1.5vw, 1rem);

  opacity: 0.6;
  border: 1px solid var(--primary);
  background-color: color-mix(in oklab, var(--secondary) 20%, transparent);
}

.terminal-text {
  padding: 10px;
  font-family: "JetBrains Mono", monospace;
  color: var(--primary);
  line-height: 1.4;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
}

.terminal-text a {
  color: var(--primary);
  text-decoration: none;
}

.terminal-text a:hover {
  text-decoration: underline;
}


