:root {
  --primary: #00ff41;
  --secondary: #00882A;
  --bg: #000000;
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    width: 80vw;
    margin: 20px auto;
}

.text-primary {
  color: var(--primary);
  font-family: "Press Start 2P", system-ui;
  }

.text-secondary {
  color: var(--secondary);
  font-family: "JetBrains Mono", monospace;
  }

/* =============== */
/* NAVIGATION BAR  */
/* ==============  */
.nav-bar {
  justify-content: center;
  display: flex;
  height: 2vw;
  gap: 2.5rem;
  padding: 1rem;
  border:1px solid var(--secondary);
  transition: color 1s ease, border-color 1s ease;
}

.nav-bar a {
  padding: 7px;
  font-family: "JetBrains Mono", monospace;
  color: var(--secondary);
  text-decoration: none;
}

.nav-bar a.active {
  color: black;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.nav-bar a:not(.active):hover {
  color: var(--primary);
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  text-decoration: none;
  color: var(--primary);
}

/* ======================== */
/* TERMINAL BOX HOME PAGE   */
/* ======================== */

.terminal-header {
  height: 2vw;
  background-color: color-mix(in oklab, var(--secondary) 20%, transparent);
  border: 1px solid var(--primary);
  margin: 0 auto;
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
  opacity: 0.6;
  padding-top: 3px;
  padding-left: 5px;
  color: var(--primary)
}

.terminal-row-1 {
  background-color: color-mix(in oklab, var(--primary) 10%, transparent);
  margin: 0 auto;
  width: 80vw;
  height: 20vw;
  border: 1px solid var(--primary);
}

.terminal-text {
  padding: 10px;
  font-family: "JetBrains Mono", monospace;
  color: var(--primary);
  line-height: 1.4;
}

.terminal-row-2 {
  display: flex;
}
.terminal-box-2-1 img {
    height: 25vw;
    width: 25vw;
    margin-top: 2vw;
    border: 1px solid var(--primary);
}
.terminal-box-2-2 {
    height: 25vw;
    width: 55vw;
    margin-top: 2vw;
    margin-left: 2vw;
    border: 1px solid var(--primary);
    background-color: color-mix(in oklab, var(--primary) 10%, transparent);

}

/* ======================== */
/* TERMINAL BOX ABOUT PAGE   */
/* ======================== */

.avatar {
  margin-top: 2vw;
  width: 20vw;
  height: 20vw;
  border: 1px solid var(--primary);
}